In [74]:
import pandas as pd

In [78]:
teparyDf = pd.read_csv('./../results/Tepary_means.csv')
teparyDf.head()

,Unnamed: 0,Location,Genotype,row,col,PlHa,PHI,YdHa,YdPl,SW,PSN,SWP,HI,VPP,StWP,PlHa_cat
0,0,Caribia,G40001,57.00,3.50,8.500000,79.813966,787.500000,29.492308,NaN,NaN,NaN,NaN,NaN,NaN,3.500000
1,1,Caribia,G40019,54.00,3.50,19.000000,83.529412,574.583333,7.257895,NaN,NaN,NaN,NaN,NaN,NaN,9.000000
2,2,Caribia,G40056,40.50,3.50,7.000000,64.705882,49.583333,1.700000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000
3,3,Caribia,G40111,54.50,4.00,23.000000,77.130565,1166.250000,12.281818,NaN,NaN,NaN,NaN,NaN,NaN,10.500000
4,4,Caribia,G40287,37.75,3.75,30.666667,66.666667,356.388889,2.800093,NaN,NaN,NaN,NaN,NaN,NaN,14.333333

In [79]:
envs = ['M3-AMBIENTE', 'INV-M3-1', 'INV-M3-2', 'Caribia', 'Espinal']
responeses =['YdHa','YdPl','PHI', 'SW', 'PSN', 'SWP','HI','VPP', 'StWP']
teparyRenamedDf= list()
for i in envs:
    envDf = teparyDf[teparyDf['Location'] == i].copy()
    
    if i == 'M3-AMBIENTE':
        rename_cols = {response: '%s_%s' % (response, 'M3-Ambiente') for response in responeses}
    else:
        rename_cols = {response: '%s_%s' % (response, i) for response in responeses}
    envDf.rename(columns=rename_cols, inplace=True)
    envDf.index = envDf.Genotype
    teparyRenamedDf.append(envDf)
    
Tepary_MERGED = pd.concat(teparyRenamedDf, axis = 1)

# Merged dataset BLUPs

In [82]:
envs = ['M3-Ambiente', 'INV-M3-1', 'INV-M3-2', 'Caribia', 'Espinal']
data = list()
for i in envs:
    idf = pd.read_excel('./../results/MrBean/BLUPS_GCDT_Merged.xlsx', sheet_name=i,engine = 'openpyxl')
    ipvt = pd.pivot_table(idf, index='Genotype', columns='Trait', values='predicted.values')
    rename_cols = {response: '%s_%s' % (response, i) for response in ipvt.columns}
    ipvt.rename(columns=rename_cols, inplace=True)
    data.append(ipvt)
    print(i)
    print(ipvt.columns)
    print('_'*10)
MERGED = pd.concat(data, axis=1)
MERGED.to_csv('./../results/merged_GCDT_blups_GWAS.csv', na_rep='NA')
#Tepary Parentals means
teparyMered = pd.concat([MERGED , Tepary_MERGED[MERGED.columns]])
MERGED.to_csv('./../results/merged_GCDT_blups_Tepary_GWAS.csv', na_rep='NA')

M3-Ambiente
Index(['HI_M3-Ambiente', 'PHI_M3-Ambiente', 'PSN_M3-Ambiente',
       'SW_M3-Ambiente', 'SWP_M3-Ambiente', 'StWP_M3-Ambiente',
       'VPP_M3-Ambiente', 'YdHa_M3-Ambiente', 'YdPl_M3-Ambiente'],
      dtype='object', name='Trait')
__________
INV-M3-1
Index(['HI_INV-M3-1', 'PHI_INV-M3-1', 'PSN_INV-M3-1', 'SW_INV-M3-1',
       'SWP_INV-M3-1', 'StWP_INV-M3-1', 'VPP_INV-M3-1', 'YdHa_INV-M3-1',
       'YdPl_INV-M3-1'],
      dtype='object', name='Trait')
__________
INV-M3-2
Index(['HI_INV-M3-2', 'PHI_INV-M3-2', 'PSN_INV-M3-2', 'SW_INV-M3-2',
       'SWP_INV-M3-2', 'StWP_INV-M3-2', 'VPP_INV-M3-2', 'YdHa_INV-M3-2',
       'YdPl_INV-M3-2'],
      dtype='object', name='Trait')
__________
Caribia
Index(['PHI_Caribia', 'YdHa_Caribia', 'YdPl_Caribia'], dtype='object', name='Trait')
__________
Espinal
Index(['PHI_Espinal', 'SW_Espinal', 'YdHa_Espinal', 'YdPl_Espinal'], dtype='object', name='Trait')
__________

# Merged dataset BLUEs

In [83]:
envs = ['M3-Ambiente', 'INV-M3-1', 'INV-M3-2', 'Caribia', 'Espinal']
data = list()
for i in envs:
    idf = pd.read_excel('./../results/MrBean/BLUES_GCDT_Merged.xlsx', sheet_name=i,engine = 'openpyxl')
    ipvt = pd.pivot_table(idf, index='Genotype', columns='Trait', values='predicted.values')
    rename_cols = {response: '%s_%s' % (response, i) for response in ipvt.columns}
    ipvt.rename(columns=rename_cols, inplace=True)
    data.append(ipvt)
    print(i)
    print(ipvt.columns)
    print('_'*10)
MERGED = pd.concat(data, axis=1)
MERGED.to_csv('./../results/merged_GCDT_blues_GWAS.csv', na_rep='NA')
#Tepary Parentals means
teparyMered = pd.concat([MERGED , Tepary_MERGED[MERGED.columns]])
MERGED.to_csv('./../results/merged_GCDT_blues_Tepary_GWAS.csv', na_rep='NA')

M3-Ambiente
Index(['HI_M3-Ambiente', 'PHI_M3-Ambiente', 'PSN_M3-Ambiente',
       'SW_M3-Ambiente', 'SWP_M3-Ambiente', 'StWP_M3-Ambiente',
       'VPP_M3-Ambiente', 'YdHa_M3-Ambiente', 'YdPl_M3-Ambiente'],
      dtype='object', name='Trait')
__________
INV-M3-1
Index(['HI_INV-M3-1', 'PHI_INV-M3-1', 'PSN_INV-M3-1', 'SW_INV-M3-1',
       'SWP_INV-M3-1', 'StWP_INV-M3-1', 'VPP_INV-M3-1', 'YdHa_INV-M3-1',
       'YdPl_INV-M3-1'],
      dtype='object', name='Trait')
__________
INV-M3-2
Index(['HI_INV-M3-2', 'PHI_INV-M3-2', 'PSN_INV-M3-2', 'SW_INV-M3-2',
       'SWP_INV-M3-2', 'StWP_INV-M3-2', 'VPP_INV-M3-2', 'YdHa_INV-M3-2',
       'YdPl_INV-M3-2'],
      dtype='object', name='Trait')
__________
Caribia
Index(['PHI_Caribia', 'YdHa_Caribia', 'YdPl_Caribia'], dtype='object', name='Trait')
__________
Espinal
Index(['PHI_Espinal', 'SW_Espinal', 'YdHa_Espinal', 'YdPl_Espinal'], dtype='object', name='Trait')
__________